.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-header{
  background-color: #2F3136;
  color: white;
}

.top-page-bar{
  background: black;
  color: white;
  margin-bottom: 12px;
  padding-bottom: 5px;
}

.abs-cont{
  position: relative;
  padding-bottom: 30px;
}
canvas{
  opacity: 0.05;
  position: absolute;
  bottom: 0;
  left: 0;
}
body{
  background-color: #36393F;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
