.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-header{
  background-color: #2F3136;
  color: white;
}

#top-page-bar{
  background: #292b2f;
  color: white;
  margin-bottom: 12px;
  padding-bottom: 5px;
  overflow: hidden;
  transition: 0.5s;
  height: auto;
}

.abs-cont{
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}

.abs-cont a{
  color: white;
  text-decoration: none;
}
p{
  padding: 10px;
}
canvas{
  /* opacity: 0.05; */
  position: absolute;
  bottom: 0;
  left: 0;
}
body{
  background-color: #36393F;
  color: white;
}
footer{
  text-align: center;
  padding-bottom: 20px;
}
#root{
  min-height: 92vh;
}
.discord-btn-yes{
  background-color: #7289DA;
  color: white;
  border-radius: 1px;
  border: none;
  padding: 3px 10px;
}

.discord-btn-no{
  background: transparent;
  color: #f04747;
  border-radius: 1px;
  border: 1px solid #f04747;
  padding: 3px 10px;
}

.discord-bkg-light{
  background-color: #2F3136;
  border: 0 !important;
}

.content-container{

  border-radius: 5px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.user-top-buttons{
  margin-top: 10px;
}
.sb-btn-container{
  border: 2px dashed rgba(255,255,255,0.1);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media  (max-width: 768px){
  section h1{
    padding-top: 10px;
    font-size: 4vw;
  }
  .hide-on-mobile{
    display: none;
  }
  .content-container{
    font-size: 80%;
  }
  .privacy-text{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  #top-page-bar{
    height: 80px;
  }
}