.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-header{
  background-color: #2F3136;
  color: white;
}

#top-page-bar{
  background: #292b2f;
  color: white;
  margin-bottom: 12px;
  padding-bottom: 5px;
  overflow: hidden;
  transition: 0.5s;
  height: auto;
}

.abs-cont{
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}

.abs-cont a{
  color: white;
  text-decoration: none;
}
p{
  padding: 10px;
}
canvas{
  /* opacity: 0.05; */
  position: absolute;
  bottom: 0;
  left: 0;
}
body{
  background-color: #36393F;
  color: white;
}
footer{
  text-align: center;
  padding-bottom: 20px;
}
#root{
  min-height: 92vh;
}
.discord-btn-yes{
  background-color: #7289DA;
  color: white;
  border-radius: 1px;
  border: none;
  padding: 3px 10px;
}

.discord-btn-maybe{
  background-color: #2F3136;
  color: white;
  border-radius: 1px;
  border: none;
  padding: 3px 10px; 
}

.discord-btn-maybe:hover{
  background-color: #7289DA; 
}

.discord-btn-no{
  background: transparent;
  color: #f04747;
  border-radius: 1px;
  border: 1px solid #f04747;
  padding: 3px 10px;
}

.discord-bkg-light{
  background-color: #2F3136;
  border: 0 !important;
}

.content-container{

  border-radius: 5px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.user-top-buttons{
  margin-top: 10px;
}
.sb-btn-container{
  border: 2px dashed rgba(255,255,255,0.1);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 155px;
  padding-top: 15px;
}
.sb-btn-container .main-button{
  width: 90%;
  border-radius: 5px;
}

.sb-btn-container .settings-button{
  color: white;
}

.sb-btn-container .delete-button, .sb-btn-container .settings-button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.sb-btn-container .list-inline{
  margin-top: 10px;
  margin-bottom: 10px;
}

.sb-btn-container .keybind{
  color: black;
  background: white;
  border-radius: 5px;
  padding: 0px 5px;
  font-weight: bold;
  font-size: 80%;
}
.sb-btn-container hr{
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.tag{
  border: 1px dashed #555;
  border-radius: 5px;
  padding: 1px 5px;
  font-size: 80%;
}

.emptyButton{
  font-size: 45px;
  padding-top: 35px;
}

.emptyButton:hover{
  cursor: pointer;
  opacity: 0.9;
  background-color: #7289DA;
  border: 0;
  transition: 0.3s;
}

#createNew{
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1000px){
  h5{
    font-size: 1.2vw;
  }
  .sb-btn-container .list-inline{
    font-size: 1vw;
  }
}

@media (max-width: 1400px){
  .sb-btn-container{
    min-height: 135px;
  }
}

@media (max-width: 1200px){
  .sb-btn-container{
    min-height: 115px;
  }
}

@media  (max-width: 768px){
  .user-top-buttons{
    font-size: 80%;
  }
  section h1{
    padding-top: 10px;
    font-size: 4vw;
  }
  .hide-on-mobile{
    display: none;
  }
  .content-container{
    font-size: 80%;
  }
  .privacy-text{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  #top-page-bar{
    height: 80px;
  }
}